.about {
	&__content {
		display: flex;
		flex-direction: column;
		@include adaptive-value("row-gap", 20, 15, 1);
		font-family: $fontRoboto;
		text-align: justify;
		@include adaptive-value("font-size", 20, 14, 1);
		@include adaptive-value("line-height", 30, 20, 1);
		@include adaptive-value-desktop("font-size", 20, 18, 1);
		@include adaptive-value-desktop("line-height", 30, 26, 1);
	}
}
