.content-contacts {
	display: flex;
	flex-direction: column;
	@include adaptive-value("row-gap", 50, 30, 1);
	font-family: $fontRoboto;
}

.info-contacts {
	display: flex;
	flex-direction: column;
	@include adaptive-value("row-gap", 20, 10, 1);

	&__title {
		font-family: $fontMontserrat;
		font-weight: 700;
		@include adaptive-value("font-size", 22, 16, 1);
		@include adaptive-value("line-height", 24, 20, 1);
	}

	&__text {
		text-align: justify;
		@include adaptive-value("font-size", 20, 14, 1);
		@include adaptive-value("line-height", 30, 20, 1);

		a {
			color: $colorPeach;
		}
	}
}
