@import "../supports";

.footer {
	position: relative;
	background-color: $colorDarkBlue;
	color: $colorWhite;
}

.navigation-footer {
	max-width: 1475px;
	margin: 0 auto;
	@include adaptive-value-desktop("padding-top", 30, 20, 1);
	padding-right: 20px;
	@include adaptive-value-desktop("padding-bottom", 20, 15, 1);
	padding-left: 20px;
	color: inherit;

	@media (max-width: em(1024)) {
		padding-top: 20px;
		padding-bottom: 15px;
	}

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("padding-right", 20, 10, 0);
		@include adaptive-value-mobile("padding-left", 20, 10, 0);
	}

	@media (max-width: em(320)) {
		padding-right: 10px;
		padding-left: 10px;
	}
}

.list-footer {
	display: flex;
	justify-content: space-between;

	@media (max-width: em(767)) {
		flex-wrap: wrap;
		justify-content: flex-start;
		@include adaptive-value-mobile("column-gap", 178, 0, 1);
		row-gap: 30px;

		li:nth-child(3) {
			width: 100%;
		}
	}

	@media (max-width: em(552)) {
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		@include adaptive-value-desktop("margin-bottom", 30, 20, 1);
		font-weight: 700;
		@include adaptive-value-desktop("font-size", 20, 18, 1);
		@include adaptive-value-desktop("line-height", 24, 22, 1);

		@media (max-width: em(1024)) {
			margin-bottom: 18px;
			font-size: 18px;
			line-height: 22px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		@include adaptive-value-desktop("width", 400, 320, 1);
		font-family: $fontRoboto;

		@media (max-width: em(552)) {
			max-width: 520px;
			width: 100%;
			align-items: center;
		}
	}
}

.sublist-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include adaptive-value-desktop("row-gap", 20, 15, 1);

	@media (max-width: em(1024)) {
		row-gap: 15px;
	}

	@media (max-width: em(552)) {
		@include adaptive-value-mobile("width", 320, 300, 1);
	}

	@media (max-width: em(320)) {
		width: 300px;
	}

	&__link {
		display: flex;
		align-items: center;
		@include adaptive-value-desktop("font-size", 16, 14, 1);
		@include adaptive-value-desktop("line-height", 20, 17, 1);
		transition: all 0.5s ease;
		will-change: transform;

		@media (max-width: em(1024)) {
			font-size: 14px;
			line-height: 17px;
		}

		svg {
			@include adaptive-value-desktop("width", 20, 16, 1);
			@include adaptive-value-desktop("height", 20, 16, 1);
			margin-right: 10px;
			fill: $colorWhite;
			transition: all 0.5s ease;

			@media (max-width: em(1024)) {
				width: 16px;
				height: 16px;
			}
		}

		@media (min-width: em(769)) {
			&:hover {
				color: $colorPeach;
				transform: scaleX(0.99);

				svg {
					fill: $colorPeach;
					transform: scale(1.5);
				}
			}
		}

		&:active {
			transform: scaleX(0.97);
		}
	}
}

.copyrights {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	@include adaptive-value-desktop("padding-top", 13, 10, 1);
	@include adaptive-value-desktop("padding-bottom", 13, 10, 1);
	border-top: 2px solid $colorWhite;
	@include adaptive-value-desktop("font-size", 14, 12, 1);
	@include adaptive-value-desktop("line-height", 20, 18, 1);
	font-family: $fontRoboto;
	text-align: center;

	@media (max-width: em(1024)) {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 12px;
		line-height: 18px;
	}
}
