@import "../supports";

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.top-header {
	background-color: $colorDarkBlue;
	color: $colorWhite;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1475px;
		@include adaptive-value-tablet("height", 100, 75, 1);
		margin: 0 auto;
		padding: 0 20px;

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("height", 75, 50, 0);
			@include adaptive-value-mobile("padding-right", 20, 10, 0);
			@include adaptive-value-mobile("padding-left", 20, 10, 0);
		}

		@media (max-width: em(320)) {
			height: 50px;
			padding: 0 10px;
		}
	}
}

.logo-header {
	display: flex;
	align-items: center;
	column-gap: 10px;
	transition: all 0.5s ease;

	&__img {
		@include adaptive-value-desktop("width", 74, 64, 1);
		@include adaptive-value-desktop("height", 70, 60, 1);
		fill: $colorWhite;
		transition: all 0.5s ease;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("width", 64, 54, 0);
			@include adaptive-value-tablet("height", 60, 50, 0);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("width", 54, 36, 0);
			@include adaptive-value-mobile("height", 50, 32, 0);
		}

		@media (max-width: em(320)) {
			width: 36px;
			height: 32px;
		}
	}

	&__title {
		@include adaptive-value-desktop("font-size", 28, 24, 1);
		@include adaptive-value-desktop("line-height", 34, 28, 1);
		font-weight: 700;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("font-size", 24, 20, 0);
			@include adaptive-value-tablet("line-height", 28, 24, 0);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("font-size", 20, 16, 0);
			@include adaptive-value-mobile("line-height", 24, 19, 0);
		}

		@media (max-width: em(320)) {
			font-size: 16px;
			line-height: 19px;
		}
	}

	@media (min-width: em(769)) {
		&:hover {
			color: $colorPeach;

			svg {
				fill: $colorPeach;
			}
		}
	}

	&:active {
		transform: scale(0.95);
	}
}

.navigation-header {
	&__icon {
		display: none;

		@media (max-width: em(768)) {
			z-index: 5;
			display: block;
			position: relative;
			@include adaptive-value-mobile("width", 30, 20, 0);
			height: 22px;
			cursor: pointer;

			span,
			&:before,
			&:after {
				left: 0;
				position: absolute;
				width: 100%;
				height: 4px;
				transition: all 0.3s ease 0s;
				background-color: $colorWhite;
				border-radius: 50px;
			}

			&:before,
			&:after {
				content: "";
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}

			span {
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}

			&._active {
				span {
					transform: scale(0) translate(0px, -50%);
				}

				&:before {
					top: 50%;
					transform: rotate(-45deg) translate(0px, -50%);
				}

				&:after {
					bottom: 45%;
					transform: rotate(45deg) translate(0px, 50%);
				}
			}
		}
	}
}

.menu-header {
	&__list {
		display: flex;
		@include adaptive-value-desktop("column-gap", 55, 30, 1);

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("column-gap", 30, 20, 0);
		}

		@media (max-width: em(768)) {
			position: fixed;
			top: 0;
			right: -100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			column-gap: 0;
			row-gap: 10px;
			width: 55%;
			height: 100%;
			padding: 100px 30px 0;
			background-color: rgba(0, 0, 0, 0.9);
			overflow: auto;
			transition: right 0.5s ease 0s;
			z-index: 1;

			&._active {
				right: 0;
			}
		}
	}

	&__link {
		display: block;
		border-bottom: 3px solid transparent;
		@include adaptive-value-desktop("font-size", 20, 18, 1);
		@include adaptive-value-desktop("line-height", 24, 22, 1);
		font-weight: 500;
		transition: all 0.5s ease;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("font-size", 18, 16, 0);
			@include adaptive-value-tablet("line-height", 22, 20, 0);
		}

		@media (max-width: em(768)) {
			font-size: 16px;
			line-height: 20px;
		}

		@media (min-width: em(769)) {
			&:hover {
				color: $colorPeach;
				border-bottom: 3px solid $colorPeach;
				transform: scale(0.99);
			}
		}

		&:active {
			transform: scale(0.95);
		}

		&--active {
			border-bottom: 3px solid $colorPeach;
			color: $colorPeach;
			display: block;
			@include adaptive-value-desktop("font-size", 20, 18, 1);
			@include adaptive-value-desktop("line-height", 24, 22, 1);
			font-weight: 500;
			transition: all 0.5s ease;

			@media (max-width: em(1024)) {
				@include adaptive-value-tablet("font-size", 18, 16, 0);
				@include adaptive-value-tablet("line-height", 22, 20, 0);
			}

			@media (max-width: em(768)) {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
}

.bottom-header {
	background-color: $colorLightGray;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 50px;
		max-width: 1475px;
		@include adaptive-value-tablet("height", 100, 75, 1);
		margin: 0 auto;
		padding: 0 20px;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("column-gap", 50, 30, 0);
		}

		@media (max-width: em(768)) {
			flex-wrap: wrap;
			justify-content: space-between;
			height: 100%;
			row-gap: 20px;
			@include adaptive-value-mobile("padding-top", 20, 10, 0);
			@include adaptive-value-mobile("padding-right", 20, 10, 0);
			@include adaptive-value-mobile("padding-bottom", 20, 10, 0);
			@include adaptive-value-mobile("padding-left", 20, 10, 0);
		}

		@media (max-width: em(320)) {
			padding: 10px;
		}
	}
}

.contacts-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 10px;
	max-width: 180px;
	width: 100%;

	@media (max-width: em(1024)) {
		@include adaptive-value-tablet("max-width", 180, 158, 1);
	}

	@media (max-width: em(768)) {
		order: 1;
		@include adaptive-value-mobile("column-gap", 20, 15, 0);
		max-width: 45%;
	}

	@media (max-width: em(375)) {
		flex-direction: row;
		max-width: 23%;
		justify-content: space-between;
	}

	&__link {
		display: flex;
		align-items: center;
		column-gap: 10px;
		transition: all 0.5s ease;

		svg {
			@include adaptive-value-desktop("width", 24, 20, 1);
			@include adaptive-value-desktop("height", 20, 16, 1);
			fill: $colorLightDark;
			transition: all 0.5s ease;

			@media (max-width: em(1024)) {
				width: 20px;
				height: 16px;
			}

			@media (max-width: em(768)) {
				@include adaptive-value-mobile("width", 30, 20, 0);
				@include adaptive-value-mobile("height", 26, 16, 0);
			}

			@media (max-width: em(375)) {
				width: 30px;
				height: 30px;
			}
		}

		span {
			display: block;
			@include adaptive-value-desktop("font-size", 16, 14, 1);
			@include adaptive-value-desktop("line-height", 19, 17, 1);
			font-weight: 700;
			color: $colorLightDark;
			transition: all 0.5s ease;

			@media (max-width: em(1024)) {
				font-size: 14px;
				line-height: 17px;
			}

			@media (max-width: em(768)) {
				@include adaptive-value-mobile("font-size", 14, 12, 1);
				@include adaptive-value-mobile("line-height", 17, 15, 1);
			}

			@media (max-width: em(375)) {
				display: none;
			}
		}

		@media (min-width: em(769)) {
			&:hover {
				svg {
					fill: $colorPeach;
					transform: scale(1.2);
					/*
									@media (max-width: em(768)) {
										fill: $colorLightDark;
										transform: none;
									}*/
				}

				span {
					color: $colorPeach;
				}
			}
		}

		&:active {
			transform: scale(0.95);

			svg {
				transform: scale(0.95);
			}
		}
	}
}

.search-header {
	display: flex;
	align-items: center;
	@include adaptive-value-desktop("max-width", 600, 420, 0);
	width: 100%;

	@media (max-width: em(1024)) {
		@include adaptive-value-tablet("max-width", 420, 320, 0);
	}

	@media (max-width: em(768)) {
		order: 3;
		max-width: 100%;
	}

	input {
		@include adaptive-value-desktop("max-width", 480, 320, 1);
		width: 100%;
		@include adaptive-value-desktop("padding-top", 22, 15.75, 1);
		padding-right: 10px;
		@include adaptive-value-desktop("padding-bottom", 22, 15.75, 1);
		padding-left: 20px;
		@include adaptive-value-desktop("border-top-left-radius", 20, 18, 1);
		@include adaptive-value-desktop("border-bottom-left-radius", 20, 18, 1);
		border: 3px solid transparent;
		background-color: $colorWhite;
		color: $colorLightDark;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		transition: all 0.3s ease;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("max-width", 320, 240, 0);
			@include adaptive-value-tablet("padding-top", 15.75, 11, 0);
			@include adaptive-value-tablet("padding-bottom", 15.75, 11, 0);
			@include adaptive-value-tablet("border-top-left-radius", 18, 15, 0);
			@include adaptive-value-tablet("border-bottom-left-radius", 18, 15, 0);
			@include adaptive-value-tablet("font-size", 16, 14, 0);
			@include adaptive-value-tablet("line-height", 20, 18, 0);
		}

		@media (max-width: em(768)) {
			max-width: 100%;
			@include adaptive-value-mobile("padding-top", 11, 7.5, 0);
			@include adaptive-value-mobile("padding-bottom", 11, 7.5, 0);
			@include adaptive-value-mobile("border-top-left-radius", 15, 10, 0);
			@include adaptive-value-mobile("border-bottom-left-radius", 15, 10, 0);
			@include adaptive-value-mobile("font-size", 14, 12, 0);
			@include adaptive-value-mobile("line-height", 18, 15, 0);
		}

		@media (max-width: em(320)) {
			padding: 7.5px 20px;
			border-radius: 10px 0 0 10px;
			font-size: 12px;
			line-height: 15px;
		}

		&:focus {
			border: 3px solid $colorPeach;
			box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
		}

		&::placeholder {
			font-weight: 700;
			font-size: 16px;
			line-height: 19px;
			color: $colorBlackPlaceholder;

			@media (max-width: em(1024)) {
				@include adaptive-value-tablet("font-size", 16, 14, 1);
				@include adaptive-value-tablet("line-height", 19, 17, 1);
			}

			@media (max-width: em(768)) {
				@include adaptive-value-mobile("font-size", 14, 12, 1);
				@include adaptive-value-mobile("line-height", 17, 15, 1);
			}

			@media (max-width: em(320)) {
				font-size: 12px;
				line-height: 15px;
			}
		}

		@media (min-width: em(769)) {
			&:hover {
				border: 3px solid $colorPeach;
				box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
			}
		}
	}

	button {
		@include adaptive-value-desktop("max-width", 120, 100, 1);
		width: 100%;
		@include adaptive-value-desktop("padding-top", 25, 18.75, 1);
		@include adaptive-value-desktop("padding-right", 34, 25.5, 1);
		@include adaptive-value-desktop("padding-bottom", 25, 18.75, 1);
		@include adaptive-value-desktop("padding-left", 34, 25.5, 1);
		background-color: $colorPeach;
		@include adaptive-value-desktop("border-top-right-radius", 20, 18, 1);
		@include adaptive-value-desktop("border-bottom-right-radius", 20, 18, 1);
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		color: $colorWhite;
		cursor: pointer;
		transition: all 0.5s ease;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("max-width", 100, 80, 0);
			@include adaptive-value-tablet("padding-top", 18.75, 14, 0);
			@include adaptive-value-tablet("padding-right", 25.5, 19, 0);
			@include adaptive-value-tablet("padding-bottom", 18.75, 14, 0);
			@include adaptive-value-tablet("padding-left", 25.5, 19, 0);
			@include adaptive-value-tablet("border-top-right-radius", 18, 15, 0);
			@include adaptive-value-tablet("border-bottom-right-radius", 18, 15, 0);
			@include adaptive-value-tablet("font-size", 16, 14, 0);
			@include adaptive-value-tablet("line-height", 20, 18, 0);
		}

		@media (min-width: em(769)) {
			&:hover {
				background-color: $colorPeachActive;
				transform: scale(0.99);
			}
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("max-width", 80, 70, 0);
			@include adaptive-value-mobile("padding-top", 14, 10.5, 0);
			@include adaptive-value-mobile("padding-right", 19, 14.25, 0);
			@include adaptive-value-mobile("padding-bottom", 14, 10.5, 0);
			@include adaptive-value-mobile("padding-left", 19, 14.25, 0);
			@include adaptive-value-mobile("border-top-right-radius", 15, 10, 0);
			@include adaptive-value-mobile("border-bottom-right-radius", 15, 10, 0);
			@include adaptive-value-mobile("font-size", 14, 12, 0);
			@include adaptive-value-mobile("line-height", 18, 15, 0);
		}

		@media (max-width: em(320)) {
			padding: 10.5px 14.25px;
			border-radius: 0 10px 10px 0;
			font-size: 12px;
			line-height: 15px;
		}

		&:active {
			transform: scale(0.95);
		}
	}
}

.office-header {
	position: relative;
	display: flex;
	align-items: center;
	@include adaptive-value-desktop("max-width", 221, 201, 1);
	width: 100%;

	@media (max-width: em(1024)) {
		@include adaptive-value-tablet("max-width", 201, 181, 1);
	}

	@media (max-width: em(768)) {
		max-width: 181px;
		order: 2;
	}

	&:after {
		content: "";
		position: absolute;
		@include adaptive-value-desktop("top", 36, 34, 1);
		@include adaptive-value-desktop("left", 90, 76, 1);
		@include adaptive-value-desktop("width", 40, 30, 1);
		height: 1px;
		background-color: rgba(255, 255, 255, 0.3);
		transform: rotate(90deg);

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("top", 34, 22, 1);
			@include adaptive-value-tablet("left", 76, 78, 1);
			@include adaptive-value-tablet("width", 30, 24, 1);
		}

		@media (max-width: em(768)) {
			top: 22px;
			left: 78px;
			width: 24px;
		}
	}
}

.office-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2px;
	@include adaptive-value-desktop("max-width", 110, 100, 1);
	width: 100%;
	@include adaptive-value-desktop("padding-top", 12, 8.75, 1);
	@include adaptive-value-desktop("padding-right", 14.5, 8.5, 1);
	@include adaptive-value-desktop("padding-bottom", 12, 8.75, 1);
	@include adaptive-value-desktop("padding-left", 14.5, 8.5, 1);
	background-color: $colorLightDark;
	color: $colorWhite;
	transition: all 0.5s ease;

	@media (max-width: em(1024)) {
		@include adaptive-value-tablet("max-width", 100, 90, 0);
		@include adaptive-value-tablet("padding-top", 8.75, 5, 0);
		@include adaptive-value-tablet("padding-right", 8.5, 8.5, 0);
		@include adaptive-value-tablet("padding-bottom", 8.75, 5, 0);
		@include adaptive-value-tablet("padding-left", 8.5, 8.5, 0);
	}

	@media (min-width: em(769)) {
		&:hover {
			background-color: #1b1f20;
			transform: scale(0.99);
		}
	}

	@media (max-width: em(768)) {
		max-width: 90px;
		padding: 6px 8.5px;
	}

	svg {
		@include adaptive-value-desktop("width", 30, 24, 1);
		@include adaptive-value-desktop("height", 30, 24, 1);
		fill: $colorWhite;
		transition: all 0.5s ease;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("width", 24, 20, 0);
			@include adaptive-value-tablet("height", 24, 20, 0);
		}

		@media (max-width: em(768)) {
			width: 20px;
			height: 20px;
		}
	}

	span {
		font-size: 14px;
		line-height: 14px;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("font-size", 14, 12, 0);
			@include adaptive-value-tablet("line-height", 14, 12, 0);
		}

		@media (max-width: em(768)) {
			font-size: 12px;
			line-height: 12px;
		}
	}

	&:active {
		transform: scale(0.95);
	}

	&--right {
		@include adaptive-value-desktop("border-top-left-radius", 20, 18, 1);
		@include adaptive-value-desktop("border-bottom-left-radius", 20, 18, 1);

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("border-top-left-radius", 18, 15, 0);
			@include adaptive-value-tablet("border-bottom-left-radius", 18, 15, 0);
		}

		@media (max-width: em(768)) {
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
		}
	}

	&--left {
		@include adaptive-value-desktop("border-top-right-radius", 20, 18, 1);
		@include adaptive-value-desktop("border-bottom-right-radius", 20, 18, 1);

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("border-top-right-radius", 18, 15, 0);
			@include adaptive-value-tablet("border-bottom-right-radius", 18, 15, 0);
		}

		@media (max-width: em(768)) {
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;
		}
	}
}
