@import "../supports";

.home {
	background: url(../assets/img/svg/home-bg-1.svg) no-repeat 112% 2%/25%,
		url(../assets/img/svg/home-bg-2.svg) no-repeat -3% 55%/25%,
		url(../assets/img/svg/home-bg-3.svg) no-repeat 102% 147%/45%;
}

.category {
	padding: 50px 0;

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("padding-top", 50, 30, 1);
		@include adaptive-value-mobile("padding-bottom", 50, 30, 1);
	}

	@media (max-width: em(320)) {
		padding: 30px 0;
	}

	&__list {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		@include adaptive-value-desktop("grid-column-gap", 80, 30, 1);
		@include adaptive-value-desktop("max-width", 1120, 840, 1);
		width: 100%;
		margin: 0 auto;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("grid-column-gap", 30, 20, 0);
			@include adaptive-value-tablet("max-width", 840, 728, 0);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("max-width", 728, 300, 0);
			grid-column-gap: 20px;
		}

		@media (max-width: em(706)) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			@include adaptive-value-mobile("grid-column-gap", 40, 20, 0);
			grid-row-gap: 20px;
		}

		@media (max-width: em(320)) {
			max-width: 300px;
			grid-column-gap: 20px;
		}

		li {
			&:first-child {
				svg {
					@include adaptive-value-desktop("width", 82, 61, 1);

					@media (max-width: em(1024)) {
						@include adaptive-value-tablet("width", 61, 40, 0);
					}

					@media (max-width: em(768)) {
						@include adaptive-value-mobile("width", 40, 30, 0);
					}

					@media (max-width: em(320)) {
						width: 30px;
					}
				}
			}
		}
	}

	&__item {
		@include adaptive-value-desktop("width", 220, 180, 1);
		padding: 20px 5px 30px;
		background-color: $colorWhite;
		@include adaptive-value-desktop("border-radius", 20, 18, 1);
		box-shadow: 5px 10px 20px 5px rgb(0 0 0 / 20%);
		cursor: pointer;
		transition: all 0.5s ease;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("width", 180, 150, 0);
			@include adaptive-value-tablet("padding-top", 20, 30, 0);
			@include adaptive-value-tablet("padding-bottom", 30, 40, 0);
		}

		@media (min-width: em(769)) {
			&:hover {
				transform: scale(0.99);

				svg {
					fill: $colorDarkBlue;
				}
			}
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("width", 150, 140, 0);
			@include adaptive-value-mobile("padding-top", 30, 17, 0);
			@include adaptive-value-mobile("padding-right", 5, 4, 0);
			@include adaptive-value-mobile("padding-bottom", 40, 17, 0);
			@include adaptive-value-mobile("padding-left", 5, 4, 0);
		}

		@media (max-width: em(706)) {
			width: 80%;
		}

		@media (max-width: em(520)) {
			width: 100%;
		}

		@media (max-width: em(320)) {
			padding: 17px 4px;
		}

		&:active {
			transform: scale(0.95);
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 18px;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("row-gap", 18, 13, 1);
		}

		svg {
			@include adaptive-value-desktop("width", 110, 82, 1);
			@include adaptive-value-desktop("height", 110, 82, 1);
			fill: $colorLightDark;
			transition: all 0.5s ease;

			@media (max-width: em(1024)) {
				@include adaptive-value-tablet("width", 82, 50, 0);
				@include adaptive-value-tablet("height", 82, 50, 0);
			}

			@media (max-width: em(768)) {
				@include adaptive-value-mobile("width", 50, 40, 0);
				@include adaptive-value-mobile("height", 50, 40, 0);
			}

			@media (max-width: em(320)) {
				width: 40px;
				height: 40px;
			}
		}

		h3 {
			font-weight: 900;
			@include adaptive-value-desktop("font-size", 18, 17, 1);
			@include adaptive-value-desktop("line-height", 22, 20, 1);
			text-align: center;
			color: $colorLightDark;

			@media (max-width: em(1024)) {
				@include adaptive-value-tablet("font-size", 17, 14, 0);
				@include adaptive-value-tablet("line-height", 20, 17, 0);
			}

			@media (max-width: em(768)) {
				@include adaptive-value-mobile("font-size", 14, 13, 0);
				@include adaptive-value-mobile("line-height", 17, 16, 0);
			}

			@media (max-width: em(320)) {
				font-size: 13px;
				line-height: 16px;
			}
		}
	}
}

.info {
	border-radius: 20px;
}

.slider-info {
	max-width: 1435px;
	width: 100%;
	max-height: 400px;
	min-height: 180px;
	height: 100%;
	border-radius: 20px;
	cursor: pointer;
}

.slider-info__slide {
	position: relative;
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border-radius: 20px;

	img {
		display: block;
		width: 100%;
		max-height: 400px;
		min-height: 180px;
		height: 100%;
		object-fit: cover;
		object-position: center;
		border-radius: 20px;
	}

	p {
		position: absolute;
		bottom: 50px;
		left: 50px;
		max-width: 50%;
		color: #fff;
		font-size: 40px;
		text-align: left;
		line-height: 48px;
		font-weight: 700;
		z-index: 2;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0 0 0 / 50%);
		border-radius: 20px;
	}
}

.swiper-pagination {
	bottom: 0;

	&-bullet {
		width: 12px;
		height: 12px;
		background-color: #fff;
	}
}

.news {
	padding: 50px 0;

	&__list {
		display: flex;
		justify-content: space-between;
	}
}

.title-news {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: $colorLightDark;
}

.item-news {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	width: 100%;
	background-color: $colorWhite;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;

	&__img {
		min-height: 260px;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 20px 20px 0 0;
		}
	}
}

.content-news {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding-left: 20px;
	padding-right: 20px;

	&__title {
		padding-top: 30px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
	}
	&__text {
		min-height: 118px;
		height: 100%;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}

.extra-news {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;

	&__date,
	&__link {
		padding-top: 12px;
		padding-left: 44px;
		padding-bottom: 12px;
		padding-right: 44px;
		border-radius: 20px;
		color: $colorBlack;
	}

	&__date {
		border: 1px solid black;
	}

	&__link {
		border: 1px solid transparent;
		background-color: $colorDarkBlue;
		color: $colorWhite;
		transition: all 0.5s ease;

		&:hover {
			border: 1px solid $colorDarkBlue;
			background-color: $colorWhite;
			color: $colorDarkBlue;
			transform: scale(0.95);
		}
		&:active {
			transform: scale(0.9);
		}
	}
}
