@import "../supports";

.home {
	background: url(../assets/img/svg/home-bg-1.svg) no-repeat 112% 2%/25%,
		url(../assets/img/svg/home-bg-2.svg) no-repeat -3% 55%/25%,
		url(../assets/img/svg/home-bg-3.svg) no-repeat 102% 147%/45%;
}

.category {
	padding: 50px 0;

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("padding-top", 50, 30, 1);
		@include adaptive-value-mobile("padding-bottom", 50, 30, 1);
	}

	@media (max-width: em(320)) {
		padding: 30px 0;
	}

	&__list {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		@include adaptive-value-desktop("grid-column-gap", 80, 30, 1);
		@include adaptive-value-desktop("max-width", 1120, 840, 1);
		width: 100%;
		margin: 0 auto;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("grid-column-gap", 30, 20, 0);
			@include adaptive-value-tablet("max-width", 840, 728, 0);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("max-width", 728, 300, 0);
			grid-column-gap: 20px;
		}

		@media (max-width: em(706)) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			@include adaptive-value-mobile("grid-column-gap", 40, 20, 0);
			grid-row-gap: 20px;
		}

		@media (max-width: em(320)) {
			max-width: 300px;
			grid-column-gap: 20px;
		}

		li {
			&:first-child {
				svg {
					@include adaptive-value-desktop("width", 82, 61, 1);

					@media (max-width: em(1024)) {
						@include adaptive-value-tablet("width", 61, 40, 0);
					}

					@media (max-width: em(768)) {
						@include adaptive-value-mobile("width", 40, 30, 0);
					}

					@media (max-width: em(320)) {
						width: 30px;
					}
				}
			}
		}
	}

	&__item {
		@include adaptive-value-desktop("width", 220, 180, 1);
		padding: 20px 5px 30px;
		background-color: $colorWhite;
		@include adaptive-value-desktop("border-radius", 20, 18, 1);
		box-shadow: 5px 10px 20px 5px rgb(0 0 0 / 20%);
		cursor: pointer;
		transition: all 0.5s ease;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("width", 180, 150, 0);
			@include adaptive-value-tablet("padding-top", 20, 30, 0);
			@include adaptive-value-tablet("padding-bottom", 30, 40, 0);
		}

		@media (min-width: em(769)) {
			&:hover {
				transform: scale(0.99);

				svg {
					fill: $colorDarkBlue;
				}
			}
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("width", 150, 140, 0);
			@include adaptive-value-mobile("padding-top", 30, 17, 0);
			@include adaptive-value-mobile("padding-right", 5, 4, 0);
			@include adaptive-value-mobile("padding-bottom", 40, 17, 0);
			@include adaptive-value-mobile("padding-left", 5, 4, 0);
		}

		@media (max-width: em(706)) {
			width: 80%;
		}

		@media (max-width: em(520)) {
			width: 100%;
		}

		@media (max-width: em(320)) {
			padding: 17px 4px;
		}

		&:active {
			transform: scale(0.95);
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 18px;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("row-gap", 18, 13, 1);
		}

		svg {
			@include adaptive-value-desktop("width", 110, 82, 1);
			@include adaptive-value-desktop("height", 110, 82, 1);
			fill: $colorLightDark;
			transition: all 0.5s ease;

			@media (max-width: em(1024)) {
				@include adaptive-value-tablet("width", 82, 50, 0);
				@include adaptive-value-tablet("height", 82, 50, 0);
			}

			@media (max-width: em(768)) {
				@include adaptive-value-mobile("width", 50, 40, 0);
				@include adaptive-value-mobile("height", 50, 40, 0);
			}

			@media (max-width: em(320)) {
				width: 40px;
				height: 40px;
			}
		}

		h3 {
			font-weight: 900;
			@include adaptive-value-desktop("font-size", 18, 17, 1);
			@include adaptive-value-desktop("line-height", 22, 20, 1);
			text-align: center;
			color: $colorLightDark;

			@media (max-width: em(1024)) {
				@include adaptive-value-tablet("font-size", 17, 14, 0);
				@include adaptive-value-tablet("line-height", 20, 17, 0);
			}

			@media (max-width: em(768)) {
				@include adaptive-value-mobile("font-size", 14, 13, 0);
				@include adaptive-value-mobile("line-height", 17, 16, 0);
			}

			@media (max-width: em(320)) {
				font-size: 13px;
				line-height: 16px;
			}
		}
	}
}

.slider-info {
	@include adaptive-value("border-radius", 20, 10, 1);
	cursor: pointer;
}

.slider-info__slide {
	position: relative;
	text-align: center;
	font-size: 18px;
	background: $colorWhite;
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptive-value("border-radius", 20, 10, 1);

	img {
		display: block;
		width: 100%;
		@include adaptive-value-desktop("height", 600, 400, 1);
		object-fit: cover;
		object-position: bottom;
		@include adaptive-value("border-radius", 20, 10, 1);

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("height", 400, 300, 0);
		}
	}

	p {
		position: absolute;
		bottom: 10%;
		left: 3%;
		max-width: 55%;
		color: $colorWhite;
		@include adaptive-value-desktop("font-size", 40, 32, 1);
		@include adaptive-value-desktop("line-height", 48, 39, 1);
		text-align: left;
		font-weight: 700;
		z-index: 2;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("font-size", 32, 24, 0);
			@include adaptive-value-tablet("line-height", 39, 29, 0);
		}

		@media (max-width: em(768)) {
			max-width: 60%;
			@include adaptive-value-mobile("font-size", 24, 12, 0);
			@include adaptive-value-mobile("line-height", 29, 14, 0);
		}

		@media (max-width: em(320)) {
			max-width: 70%;
			font-size: 12px;
			line-height: 14px;
		}
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0 0 0 / 50%);
		@include adaptive-value("border-radius", 20, 10, 1);
	}
}

.swiper-pagination {
	bottom: 2% !important;
	@include adaptive-value("height", 20, 10, 1);

	&-bullet {
		@include adaptive-value-desktop("width", 12, 10, 1);
		@include adaptive-value-desktop("height", 12, 10, 1);
		background-color: $colorWhite;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("width", 10, 8, 0);
			@include adaptive-value-tablet("height", 10, 8, 0);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("width", 8, 5, 0);
			@include adaptive-value-mobile("height", 8, 5, 0);
		}

		@media (max-width: em(320)) {
			width: 5px;
			height: 5px;
			margin: 0 2px !important;
		}
	}
}

.news {
	padding: 50px 0;

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("padding-top", 50, 30, 1);
		@include adaptive-value-mobile("padding-bottom", 50, 30, 1);
	}

	@media (max-width: em(320)) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__list {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 40px;
		grid-row-gap: 40px;

		@media (max-width: em(1280)) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: em(768)) {
			grid-template-columns: repeat(1, 1fr);
			grid-column-gap: 0;
		}
	}
}

.title-news {
	@include adaptive-value("padding-bottom", 30, 20, 1);
	font-weight: 900;
	@include adaptive-value-desktop("font-size", 36, 30, 1);
	@include adaptive-value-desktop("line-height", 44, 37, 1);
	color: $colorLightDark;

	@media (max-width: em(1024)) {
		@include adaptive-value-tablet("font-size", 30, 28, 0);
		@include adaptive-value-tablet("line-height", 37, 34, 0);
	}

	@media (max-width: em(768)) {
		@include adaptive-value-mobile("font-size", 28, 18, 0);
		@include adaptive-value-mobile("line-height", 34, 22, 0);
	}

	@media (max-width: em(320)) {
		padding-bottom: 20px;
		font-size: 18px;
		line-height: 22px;
	}
}

.item-news {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 520px;
	width: 100%;
	background-color: $colorWhite;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	@include adaptive-value("border-radius", 20, 10, 1);
	transition: all 0.5s ease;

	@media (max-width: em(1024)) {
		@include adaptive-value-tablet("max-width", 472, 344, 0);
	}

	@media (min-width: em(769)) {
		&:hover {
			transform: scale(0.99);
		}
	}

	@media (max-width: em(768)) {
		max-width: 60%;
	}

	@media (max-width: em(580)) {
		max-width: 80%;
	}

	@media (max-width: em(320)) {
		border-radius: 10px;
	}

	&__img {
		@include adaptive-value("min-height", 260, 140, 1);
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			@include adaptive-value("border-top-left-radius", 20, 10, 1);
			@include adaptive-value("border-top-right-radius", 20, 10, 1);

			@media (max-width: em(320)) {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
		}
	}
}

.content-news {
	display: flex;
	flex-direction: column;
	@include adaptive-value("row-gap", 20, 10, 1);
	@include adaptive-value("padding-right", 20, 10, 1);
	@include adaptive-value("padding-left", 20, 10, 1);

	@media (max-width: em(320)) {
		row-gap: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	&__title {
		@include adaptive-value("padding-top", 30, 20, 1);
		font-weight: 700;
		@include adaptive-value-desktop("font-size", 22, 20, 1);
		@include adaptive-value-desktop("line-height", 26, 24, 1);
		text-align: center;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("font-size", 20, 18, 0);
			@include adaptive-value-tablet("line-height", 24, 22, 0);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("font-size", 18, 14, 0);
			@include adaptive-value-mobile("line-height", 22, 18, 0);
		}

		@media (max-width: em(320)) {
			padding-top: 20px;
			font-size: 14px;
			line-height: 18px;
		}
	}

	&__text {
		padding: 0 20px;
		height: 112px;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		@include adaptive-value("text-indent", 25, 20, 1);
		text-align: justify;
		text-overflow: clip;
		overflow: hidden;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		display: -webkit-box;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("height", 114, 104, 1);
			@include adaptive-value-tablet("padding-right", 20, 15, 1);
			@include adaptive-value-tablet("padding-left", 20, 15, 1);
			@include adaptive-value-tablet("font-size", 16, 14, 1);
			@include adaptive-value-tablet("line-height", 19, 17, 1);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("height", 104, 84, 0);
			@include adaptive-value-mobile("font-size", 14, 12, 0);
			@include adaptive-value-mobile("line-height", 17, 14, 0);
		}

		@media (max-width: em(375)) {
			height: 80px;
		}

		@media (max-width: em(320)) {
			height: 84px;
			font-size: 12px;
			line-height: 14px;
			text-indent: 20px;
		}
	}
}

.extra-news {
	display: flex;
	justify-content: space-around;
	@include adaptive-value("padding-bottom", 30, 20, 1);
	@include adaptive-value("padding-top", 20, 10, 1);

	@media (max-width: em(768)) {
		justify-content: space-between;
	}

	&__date,
	&__link {
		padding: 12px 44px;
		@include adaptive-value("border-radius", 20, 10, 1);
		color: $colorBlack;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("padding-top", 12, 8, 1);
			@include adaptive-value-tablet("padding-right", 44, 34, 1);
			@include adaptive-value-tablet("padding-bottom", 12, 8, 1);
			@include adaptive-value-tablet("padding-left", 44, 34, 1);
			@include adaptive-value-tablet("font-size", 16, 14, 1);
			@include adaptive-value-tablet("line-height", 19, 17, 1);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("padding-top", 8, 5, 0);
			@include adaptive-value-mobile("padding-right", 34, 20, 0);
			@include adaptive-value-mobile("padding-bottom", 8, 5, 0);
			@include adaptive-value-mobile("padding-left", 34, 20, 0);
			@include adaptive-value-mobile("font-size", 14, 12, 0);
			@include adaptive-value-mobile("line-height", 17, 14, 0);
		}

		@media (max-width: em(320)) {
			padding: 5px 20px;
			border-radius: 10px;
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__link {
		border: 1px solid transparent;
		background-color: $colorDarkBlue;
		color: $colorWhite;
		transition: all 0.5s ease;

		@media (min-width: em(769)) {
			&:hover {
				border: 1px solid $colorDarkBlue;
				background-color: $colorWhite;
				color: $colorDarkBlue;
				transform: scale(0.99);
			}
		}

		&:active {
			transform: scale(0.95);
		}
	}
}

.link-news {
	display: flex;
	align-items: center;
	column-gap: 10px;
	@include adaptive-value("width", 140, 101, 1);
	margin-top: 20px;
	margin-left: auto;
	transition: all 0.5s ease;

	@media (min-width: em(769)) {
		&:hover {
			p {
				color: $colorPeach;
			}

			svg {
				transform: scale(1.2);
				fill: $colorPeach;
			}
		}
	}

	@media (max-width: em(320)) {
		width: 101px;
	}

	&:active {
		transform: scale(0.95);
	}

	p {
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		transition: all 0.5s ease;

		@media (max-width: em(1024)) {
			@include adaptive-value-tablet("font-size", 16, 14, 1);
			@include adaptive-value-tablet("line-height", 19, 17, 1);
		}

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("font-size", 14, 12, 0);
			@include adaptive-value-mobile("line-height", 17, 14, 0);
		}

		@media (max-width: em(320)) {
			font-size: 12px;
			line-height: 14px;
		}
	}

	svg {
		width: 20px;
		height: 20px;
		fill: $colorLightDark;
		transition: all 0.5s ease;

		@media (max-width: em(768)) {
			@include adaptive-value-mobile("width", 20, 14, 1);
			@include adaptive-value-mobile("height", 20, 14, 1);
		}
		@media (max-width: em(320)) {
			width: 14px;
			height: 14px;
		}
	}
}
