$colorBlack: #000;
$colorWhite: #fff;
$colorDarkBlue: #1b2f52; // bg-color & hover
$colorLightDark: #1d2223; // colorFont & fillSvg
$colorLightGray: #e9e9e9;
$colorGray: #eee;

$colorPeach: #e77c58;
$colorPeachHover: #f76435;
