$colorBlack: #000;
$colorBlackPlaceholder: rgba(0, 0, 0, 0.3);
$colorWhite: #fff;
$colorDarkBlue: #1b2f52;
//$colorLightDark: #1d2223; // colorFont & fillSvg
$colorLightDark: #2e3536;
$colorLightGray: #e9e9e9;
$colorGray: #eee;

$colorPeach: #e77c58;
$colorPeachActive: #f76435;

$fontRoboto: "Montserrat", sans-serif;
