$colorBlack: #000;
$colorWhite: #fff;
$colorGray: #e9e9e9;
$colorDarkBlue: #1b2f52;
$colorLightDark: #2e3536;
$colorPeach: #e77c58;
$colorPlaceholder: rgba(0, 0, 0, 0.3);

$fontMontserrat: "Montserrat", sans-serif;
$fontRoboto: "Roboto", sans-serif;
